.sidebar {
    background-color: #2C3E50;
    color: white;
    width: 250px;
    height: 100vh;
    position: center;
    top: 0;
    left: 0;
    overflow-y: auto;
  }
  
  .logo {
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    background-color: #1A252F;
    margin-bottom: 10px; 
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    margin: 0; /* Eliminado el margen para los elementos de la lista */
    padding: 0.5px 0;

  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px; /* Mantener padding pero sin añadir márgenes */
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px; 
  }
  
  .menu li a:hover {
    background-color: #34495E;
    display: block;
  }
  