.app-container {
    display: flex;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
  }
  
  .add-user-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
  }
  
  .add-user-btn:hover {
    background-color: #45a049;
  }
  
  .search-bar {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .modal {
      border: 2px solid red; /* Solo para propósitos de depuración */
    }
    
  }

  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
  }
  
  .close-btn {
    float: right;
    cursor: pointer;
  }
  
  .user-form .form-group {
    margin-bottom: 15px;
  }
  
  .user-form .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .user-form .form-group input, .user-form .form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .user-form .form-group input[type="file"] {
    padding: 3px;
  }
  
  .btn-deactivate, .edit-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .btn-deactivate {
    background-color: #f0ad4e;
    color: white;
  }
  
  .edit-btn {
    background-color: #5bc0de;
    color: white;
  }
  
  .delete-btn {
    background-color: #d9534f;
    color: white;
  }
  
  .logo {
    text-align: center;
    padding: 20px;
    font-size: 24px;
  }
  
  .menu {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    padding: 15px 20px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #444;
  }
  