/* styles.css (o cualquier otro archivo de estilos que estés utilizando) */

/* Estilos generales */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
}
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .btn-search {
    background-color: #007bff;
    color: white;
  }
  
  .btn-add {
    background-color: #28a745;
    color: white;
  }
  
  .btn-edit {
    background-color: #ffc107;
    color: black;
  }
  
  .btn-delete {
    background-color: #dc3545;
    color: white;
  }
  
  /* Estilos de la tabla */
  .proveedores-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .proveedores-table th, .proveedores-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .proveedores-table th {
    background-color: #f2f2f2;
  }
  
  /* Estilos de los modales */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    position: relative;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
  .show {
    display: block;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 5px;
  }
  
  form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  form button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .btn-cancel {
    background-color: #aaa;
    color: white;
    margin-right: 10px;
  }
  
  .btn-save {
    background-color: #28a745;
    color: white;
  }
  
  .btn-delete {
    background-color: #dc3545;
    color: white;
  }
  .app-container {
    display: flex;
    height: 100vh;
}

  